/* CSS Stylesheet */

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body{
  font-family:Plantin, Freight Text, Lato, sans-serif;
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  float: center;
  margin: 10px;
  padding: 10px;
}



.job {
  border: 1px solid #70637c;
  background-color: #e6cfee;
  text-align: center;
  margin: 5px;

}
