/* CSS Stylesheet */

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body{
  font-family:Plantin, Lato, Garamond, sans-serif;
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  float: center;
  margin: 50px;
  padding: 50px;
}

h1 {
  font-size:4em;
}

h2{
  font-size:3em;
}

h3 {
  text-align:center;
  font-size:2em;
}

h4 {
  text-align:center;
  font-size:1.5em;
}

ul{
  font-size:1em;
}

.jumbotron {
  border-radius:25px;
}

.job {
  background-color: #e6cfee;
  text-align: left;
  justify-content:center;
  margin:50px;
  padding:50;
  border-radius:50%;
  display: inline-block;
  margin-right: 20px;
  width:40em;
  height:40em;
  


}

.contact-info {
  text-align:center;
  float:center;
  font-size:.5em;
}
