/* CSS Stylesheet */
body{
  font-family:Plantin, Freight Text, Lato, sans-serif;
  text-align:center;
  margin:100px;
  padding:50px;
  display:flex;
  flex-wrap: wrap;
}



.job {
  border: 1px solid #70637c;
  background-color: #e6cfee;
  text-align: center;
}
