/* CSS */
body {	
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	font-family:Lato, serif;
	background-color: #eff4f4;
}

h1 {
  	font-size: 4rem;
}

h2 {
	font-side: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size:1.5rem;
}

.box {
	text-align:center;
	margin-top: 20px;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
	background-color:#c8f6cb;
	border:2px solid black;
	padding: 18px;
}

.section {
	text-align:center;
	display:flex
	flex-wrap: wrap;
	justify-content:center;
}

.header {
	text-align:center;
	display:inline;
	list-style:none;
}

.contact {
  	font-size:.25rem;
}

.title {
	 display:inline;
}
