/* CSS Stylesheet */

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body{
  font-family:Plantin, Freight Text, Lato, sans-serif;
  text-align:center;
  margin:100px;
  padding:50px;
  display:flex;
  flex-wrap: wrap;
}



.job {
  border: 1px solid #70637c;
  background-color: #e6cfee;
  text-align: center;
  margin:30px;
  padding:30px;
}
