/* CSS */
body {	
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	font-family:Garamond, serif;
}

h1 {
  	font-size: 3rem;
  	font-family: Garamond, serif;
  	color: black;
}

box {
	text-align:center;
	margin-top: 20px;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
	background-color:#c8f6cb;
	border:2px solid black;
	padding: 18px;
}

.header {
	text-align:center;
	display:inline;
	list-style:none;
}

.contact {
  	font-size:.5rem;
  	font-family: Garamond, serif;
	color: black;
}

.title {
	 display:inline;
}
