/* CSS Stylesheet */
body{
  font-family:Plantin, Freight Text, Lato, sans-serif;
  text-align:center;
  margin:100px;
  padding:50px;
}



.job {
  border: 5px solid #FFF;
  background-color: #e6cfee;
}
